.container{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    height:100%;
    animation:fadeInTransitive 0.3s ease-in-out;
}
.empty{
    border-top:1px solid gray;
    padding-top:10px;
    width:95vw;
    text-align: center;
}
@keyframes fadeInTransitive{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
  }