
.list{
    padding: 0px;
    gap:10px;
    width: 95vw;
    border-top: 1px solid gray ;
    margin-top: 0px;
}
.first{
    animation: fadeIn 5s ease-in-out;
}
@keyframes FadeIn {
    from{
        opacity:0;;
    }
    to{
        opacity: 1;
    }
}