
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}
.header{
    display: flex;
    gap:10px;
    align-items: center;
}
.info > *{
    margin: 0px;
}
.title > span {
    font-weight: bold;
    font-size: 18px;
}
.subInfo{
    color:grey;
    font-weight: 500;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media(max-width:500px){
    .listItem{
        flex-direction: column;
        gap:10px;
        align-items: baseline;
    }
}