
.list{
    padding: 0px;
    gap:10px;
    width: 95vw;
    border-top: 1px solid gray ;
    margin-top: 0px;
}
.empty{
    animation: fadeIn 5s ease-in-out;
    border-top: 1px solid gray;
    width:95vw;
    text-align: center;
    padding-top: 10px;
}
.add{
    background-color: rgb(0, 97, 182);
    position: fixed;
    top:90%;
    left: 95%;
    color:white;
    width:55px;
    height:55px;
    padding:10px;
    border-radius:50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow:0px 0px 3px 2px hsla(0, 0%, 35%, 0.5);
}
.add:hover{
    background-color:hsl(208, 100.00%, 45.70%);
    box-shadow:0px 0px 5px 4px hsla(208, 100.00%, 55.70%,0.7);
}
@keyframes FadeIn {
    from{
        opacity:0;;
    }
    to{
        opacity: 1;
    }
}