:root{
  --bg-color:hsl(0, 0%, 95%);
  --hover-color:hsl(0, 0%, 90%);
}

body{
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  margin: 20px;
}
*{
  margin: 0px;
  box-sizing: border-box;
}
@keyframes fadeInTransitive{
  from{
      opacity: 0;
      transform: translateY(20px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}
@keyframes fadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}